carlabs/state_machines/repair_order.json
{
    "Comment": "State machine to pull repair order data from Carlabs",
    "StartAt": "DATA_PULL",
    "States": {
      "DATA_PULL": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "${RepairOrderETLFunction}"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException"
            ],
            "IntervalSeconds": 2,
            "MaxAttempts": 6,
            "BackoffRate": 2
          }
        ],
        "Next": "KEEP_DATA_PULL"
      },
      "KEEP_DATA_PULL": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.etl_finished",
            "BooleanEquals": false,
            "Next": "DATA_PULL"
          }
        ],
        "Default": "Pass"
      },
      "Pass": {
        "Type": "Pass",
        "End": true
      }
    }
  }
